<Content::Cover>
  <:content>
    <h1>Save the date</h1>
    <span class="u-h2">15. Juli 2022</span>
  </:content>
  <:background>
    {{#if (is-mode "love")}}
      <img src="/assets/teaser/background_love.jpg" alt="Blumenstrauß">
    {{else}}
      <video
        autoplay="true"
        controls="false"
        loop="true"
        muted="true"
        playsinline="true"
      >
        <source src="/assets/teaser/background_fun.mov" type="video/mp4">
      </video>
    {{/if}}
  </:background>
</Content::Cover>

<div>
  {{outlet}}
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  Test
</div>
