/* ==========================================================================
  # APPLICATION FOOTER
  ========================================================================== */

.c-application-footer {
  background-color: $color-black;
  color: $color-white;
  padding: spacing() 0;
}
