/* ==========================================================================
  # APPLICATION FOOTER
  ========================================================================== */

.c-application-footer {
  background-color: $color-dark;
  color: $color-light;
  padding: spacing() 0;
}
