/* ==========================================================================
  # APPLICATION HEADER
  ========================================================================== */

.c-application-header {
  position: absolute;
  top: spacing();
  left: spacing();
  right: spacing();
  color: $color-typo-light;
  display: flex;
  justify-content: space-between;
  padding: spacing() spacing() 0 spacing();
  z-index: 2;
}
