/* ==========================================================================
  # LOGIN
  ========================================================================== */

.c-login {
  padding: 0 spacing();

  &__title {
    text-transform: initial;
  }

  &__answer {
    margin-bottom: spacing('base+small');
  }

  &__error {
    margin-top: spacing('base+small')
  }
}





/* Media queryies
   ========================================================================== */

@include mq($until: desktop) {
  .c-login {
    &__button {
      margin-bottom: spacing('tiny');
      width: 90%;
    }
  }
}
