/* ==========================================================================
  # APPLICATION FOOTER
  ========================================================================== */

.c-application-footer {
  padding: spacing() 0;

  @include color-mode() using ($colors) {
    background-color: map-get($colors, 'dark');
    color: map-get($colors, 'light');
  }
}
