/* ==========================================================================
  # APPLICATION FOOTER
  ========================================================================== */

.c-application-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: spacing() 0;
  min-height: calc(100vh - #{$frame-size} * 2);

  @include mode-settings() using ($settings, $mode) {
    background-color: map-get($settings, 'color-primary');
    color: map-get($settings, 'color-typo');
  }
}
