/* ==========================================================================
  # APPLICATION HEADER
  ========================================================================== */

.c-application-header {
  z-index: 10;

  @include mode-settings() using ($settings, $mode) {
    color: map-get($settings, 'color-typo');
  }

  &__logo {
    position: fixed;
  }

    &__mark {
      font-size: 80px;
      font-family: $font-serief;
    }

    &__subline {
      position: absolute;
      bottom: 0;
      left: 2px;
      font-family: $font-mono;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 0.3em;
    }

  &__navigation {
    position: fixed;
  }
}





/* Media queryies
   ========================================================================== */

@include mq($until: desktop) {
  .c-application-header {
    &__logo {
      height: 57px;
      left: spacing('base+small');
      top: spacing('base+small');
    }

      &__mark {
        @include inuit-font-size(60px, false);
      }

      &__subline {
        @include inuit-font-size(14px, false);
      }

    &__navigation {
      top: spacing('base+small');
      right: spacing('base+small');
    }
  }
}

@include mq($from: desktop) {
  .c-application-header {
    &__logo {
      height: 67px;
      left: spacing('large');
      top: spacing('large');
    }

      &__mark {
        @include inuit-font-size(80px, false);
      }

      &__subline {
        @include inuit-font-size(18px, false);
      }

    &__navigation {
      top: spacing('large');
      right: spacing('large');
    }
  }
}
