/* ==========================================================================
  # APPLICATION
  ========================================================================== */

// Animations
@keyframes disco-frame {
  0% {
    border-color: red;
  }
  10% {
    border-color: green;
  }
  20% {
    border-color: blue;
  }
  40% {
    border-color: yellow;
  }
  50% {
    border-color: purple;
  }
  60% {
    border-color: brown;
  }
  70% {
    border-color: pink;
  }
  80% {
    border-color: lime;
  }
  90% {
    border-color: cyan;
  }
}


// Component
.c-application {
  height: 100vh;
  height: vh(100);
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-width: $frame-size;
  border-color: #F1EBE9;

  @include mode-settings('self') using ($settings, $mode) {
    background-color: map-get($settings, 'color-background');
    color: map-get($settings, 'color-typo');
    font-family: map-get($settings, 'font-default');
  }

  &__content {
    flex-grow: 1;
    height: calc(100vh - #{$frame-size} * 2);
    height: calc(vh(100) - #{$frame-size} * 2);
    overflow: auto;
  }

  &--mode-fun {
    animation: disco-frame 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  &__bridal {
    position: fixed;
    z-index: 11;
    color: currentColor;
    transform: rotate(-90deg) translate(100%, 0);
    transform-origin: bottom right;
    line-height: 1;

    @include inuit-font-size($inuit-global-font-size--tiny, false);

    &--is-christoph {
      right: spacing('large');
      transform: rotate(-90deg) translate(100%, 0);
      transform-origin: bottom right;
    }

    &--is-severine {
      left: spacing('large');
      transform: rotate(-90deg) translate(0, 100%);
      transform-origin: bottom left;
    }
  }
}





/* Media queryies
   ========================================================================== */

@include mq($until: desktop) {
  .c-application {
    &__bridal {
      bottom: spacing('small+tiny');

      &--is-christoph {
        right: spacing('small+tiny');
      }

      &--is-severine {
        left: spacing('small+tiny');
      }
    }
  }
}

@include mq($from: desktop) {
  .c-application {
    &__bridal {
      bottom: spacing('large');

      &--is-christoph {
        right: spacing('large');
      }

      &--is-severine {
        left: spacing('large');
      }
    }
  }
}
