/* ==========================================================================
  # CONTENT SECTION
  ========================================================================== */

.c-content-section {
  &__wrapper {
    max-width: 1200px;
    margin: spacing('large') auto;
    width: 100%;
    padding: 0 spacing('base+small');
  }

  &--style-default {
    @include mode-settings() using ($settings, $mode) {
      color: map-get($settings, 'color-typo-inverted');
    }
  }

  &--style-primary {
    text-align: center;
    padding: spacing('large') 0;

    @include mode-settings() using ($settings, $mode) {
      background-color: map-get($settings, 'color-primary');
      color: map-get($settings, 'color-typo');
    }
  }
}
