/* ==========================================================================
  # APPLICATION
  ========================================================================== */

// Animations
@keyframes disco-frame {
  0% {
    border-color: red;
  }
  10% {
    border-color: green;
  }
  20% {
    border-color: blue;
  }
  40% {
    border-color: yellow;
  }
  50% {
    border-color: purple;
  }
  60% {
    border-color: brown;
  }
  70% {
    border-color: pink;
  }
  80% {
    border-color: lime;
  }
  90% {
    border-color: cyan;
  }
}


// Component
.c-application {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  padding: $frame-size;

  @include mode-settings('self') using ($settings, $mode) {
    background-color: map-get($settings, 'color-background');
    color: map-get($settings, 'color-typo');
    font-family: map-get($settings, 'font-default');
  }

  &__content {
    flex-grow: 1;
    min-height: calc(100vh - #{$frame-size} * 2);
  }

  &::after {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 11;
    border-style: solid;
    border-width: $frame-size;
    border-color: #F1EBE9;
  }

  &--mode-fun::after {
    animation: disco-frame 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  &__bridal {
    position: fixed;
    bottom: spacing('large');
    z-index: 11;
    color: currentColor;
    transform: rotate(-90deg) translate(100%, 0);
    transform-origin: bottom right;
    line-height: 1;

    @include inuit-font-size($inuit-global-font-size--tiny, false);

    &--is-christoph {
      right: spacing('large');
      transform: rotate(-90deg) translate(100%, 0);
      transform-origin: bottom right;
    }

    &--is-severine {
      left: spacing('large');
      transform: rotate(-90deg) translate(0, 100%);
      transform-origin: bottom left;
    }
  }
}
