/* ==========================================================================
   #RAPPER EXTENSION
   ========================================================================== */

/*
 * Overwrite default wrapper margin to align wrapper left
 */

.o-wrapper {
  margin-right: auto;
  margin-left: auto;
  padding-right: spacing("base");
  padding-left: spacing("base");
  width: 100%;
}
