///* ========================================================================
//   #GLOBAL
//   ======================================================================== */

// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.


/* Typographic
   ========================================================================== */

// Baseline
$inuit-global-baseline:               7px;

// Base font size
$inuit-global-font-size--large:       28px;
$inuit-global-font-size:              18px;
$inuit-global-font-size--small:       20px;
$inuit-global-font-size--tiny:        16px;

// Heading sizes
$inuit-font-size-h1:                  95px;
$inuit-font-size-h2:                  60px;
$inuit-font-size-h3:                  35px;
$inuit-font-size-h4:                  $inuit-global-font-size;
$inuit-font-size-h5:                  $inuit-global-font-size--small;
$inuit-font-size-h6:                  $inuit-global-font-size--small;

$inuit-font-size-mobile-h1:           45px;
$inuit-font-size-mobile-h2:           30px;
$inuit-font-size-mobile-h3:           23px;
$inuit-font-size-mobile-h4:           $inuit-global-font-size;
$inuit-font-size-mobile-h5:           $inuit-global-font-size;
$inuit-font-size-mobile-h6:           $inuit-global-font-size;

// Letter spacing
$inuit-global-letter-spacing:         0;
$inuit-global-letter-spacing--large:  0.1em;

// Font family
$font-serief:                         'Cormorant Garamond', serif;
$font-mono:                           'IBM Plex Mono', monospace;
$font-display:                        'Monoton';
$font-default:                        $font-serief;



/* Color
   ========================================================================== */

$mode-settings: (
  'love': (
    'color-primary':                #BF6451,
    'color-secondary':              #D2BDBC,
    'color-tertiary':               #3d3835,
    'color-background':             #e7dad8,
    'color-typo':                   #F1EBE9,
    'color-typo-inverted':          #3d3835,
    'color-overlay':                rgba(#BF6451, 0.5),

    'font-headline':                $font-serief,
    'font-default':                 $font-mono,
  ),
  'fun': (
    'color-primary':                #252525,
    'color-secondary':              #BF6451,
    'color-tertiary':               #3d3835,
    'color-background':             #1a1a1a,
    'color-typo':                   #F1EBE9,
    'color-typo-inverted':          #F1EBE9,
    'color-overlay':                transparent,

    'font-headline':                $font-display,
    'font-default':                 $font-mono,
  )
);

// Shades of grey
$color-grey-light:                  #f9f8f8;
$color-grey:                        #dadada;
$color-grey-dark:                   #979797;
$color-grey-darker:                 #5a5a5a;

// State colors
$color-error:                       #ff5a45;
$color-success:                     #00b894;






/* Stuff
   ========================================================================== */

// Border
$border-width--small:               1px;
$border-width:                      2px;
$border-width--large:               4px;
$border-width--huge:                10px;

// Header
$frame-size:                        $inuit-global-baseline * 2;





/* Breakpoints
   ========================================================================== */

$mq-breakpoints: (
   mobile:  320px,
   tablet:  601px,
   desktop: 1024px,
   wide:    1200px,
   huge:    1600px
);




/* Objects
   ========================================================================== */

// Object Layout
$inuit-use-markup-fix:              false;

// Object Wrapper
$inuit-wrapper-width--small:        800px;
$inuit-wrapper-width:               1000px;
$inuit-wrapper-width--large:        1200px;





/* Utilities
   ========================================================================== */

// Utilities Widths
$inuit-fractions:                   1 2 3 4 5 6 12;
$inuit-offsets:                     true;
