/* ==========================================================================
  #EXTEND PAGE
  ========================================================================== */

html {
  font-size: $inuit-global-font-size / 16px * 1em;
  line-height: $inuit-global-line-height / $inuit-global-font-size;
  overflow-y: scroll;
  overflow-x: hidden;

  &.no-scroll {
    overflow-y: hidden;
  }
}

body {
  line-height: 1.5em;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  position: relative;
}


