/* ==========================================================================
   #HEADINGS
   ========================================================================== */

@keyframes anim {
  0% { text-shadow: 2px -4px 0px green; }
  10% { text-shadow: 2px 3px 0px purple; }
  20% { text-shadow: 2px -4px 0px yellow; }
  30% { text-shadow: -4px 2px 0px red; }
  40% { text-shadow: -5px 2px 0px blue; }
  50% { text-shadow: -5px 2px 0px orange; }
  60% { text-shadow: -4px -2px 0px lime; }
  70% { text-shadow: -3px 2px 0px brown; }
  80% { text-shadow: 2px 3px 0px pink; }
  90% { text-shadow: -4px 2px 0px teal; }
  100% { text-shadow: 2px -3px 0px cyan; }
}


/* Default heading style
   ========================================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;

  @include mode-settings() using ($settings, $mode) {
    font-family: map-get($settings, 'font-headline');
  }
}

h1 {
  text-transform: uppercase;

  @include inuit-font-size($inuit-font-size-h1);
}

h2 {
  @include inuit-font-size($inuit-font-size-h2);
}

h3 {
  @include inuit-font-size($inuit-font-size-h3);
}

h4 {
  @include inuit-font-size($inuit-font-size-h4);
}

h5 {
  @include inuit-font-size($inuit-font-size-h5);
}

h6 {
  @include inuit-font-size($inuit-font-size-h6);
}

.c-application--mode-fun h1,
.c-application--mode-fun h2,
.c-application--mode-fun .c-content-countdown__value {
  animation: anim 3s;
  animation-timing-function: linear;
  animation-iteration-count:infinite;
}





/* Mobile headline sizes
  ========================================================================== */

@include mq($until: desktop) {
  h1 {
    @include inuit-font-size($inuit-font-size-mobile-h1);
  }

  h2 {
    @include inuit-font-size($inuit-font-size-mobile-h2);
  }

  h3 {
    @include inuit-font-size($inuit-font-size-mobile-h3);
  }

  h4 {
    @include inuit-font-size($inuit-font-size-mobile-h4);
  }

  h5 {
    @include inuit-font-size($inuit-font-size-mobile-h5);
  }

  h6 {
    @include inuit-font-size($inuit-font-size-mobile-h6);
  }
}
