/* ==========================================================================
   #Forms
   ========================================================================== */

/**
 * Simple default style for all form elements. Anything more opinionated
 * than simple basic style changes should likely be applied via classes
 */

/* Input
   ========================================================================== */

input {
  border-radius: 0;
  box-shadow: inset 0 0 0 #000;
}

input:not([type=submit]):not([type=file]):not([type=checkbox]) {
  background-color: transparent;
  padding: spacing("tiny", 4px) spacing("small");
  width: 100%;
  border: none;
  text-align: center;
  color: inherit;

  @include mode-settings() using ($settings, $mode) {
    font-family: map-get($settings, 'font-default');
  }

  &:focus {
    outline: none;

    @include mode-settings() using ($settings, $mode) {
      border-color: map-get($settings, 'color-primary');
    }
  }

  &::placeholder {
    @include mode-settings() using ($settings, $mode) {
      color: map-get($settings, 'color-typo');
    }
  }
}

input[type=checkbox] {
  margin-right: spacing("tiny");
}

input[type=date] {
  width: auto !important;
}





/* Textarea
   ========================================================================== */

textarea {
  padding: spacing("small");
  width: 100%;
  border-width: $border-width--small;
  border-style: solid;
  border-color: $color-grey;
  border-radius: spacing("tiny");
  resize: vertical;

  @include inuit-font-size($inuit-global-font-size);

  &:focus {
    outline: none;

    @include mode-settings() using ($settings, $mode) {
      border-color: map-get($settings, 'color-primary');
    }
  }
}





/* Label
   ========================================================================== */

label {
  display: block;
  margin-top: spacing("small");
  font-weight: normal;

  @include inuit-font-size($inuit-global-font-size--small);
}





/* Button
   ========================================================================== */

button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}
