/* ==========================================================================
   # COLOR
   ========================================================================== */

/**
 * Gutenberg utility classes to change font and background color
 */

@each $name, $color in $colors {
  .has-#{$name}-color {
    color: $color !important;
  }

  .wp-block-cover-image.has-background-dim.has-#{$name}-background-color,
  .wp-block-cover.has-background-dim.has-#{$name}-background-color,
  .has-#{$name}-background-color {
    background-color: $color !important;
  }
}


.wp-block-cover.has-background-dim.has-terracotta-background-color {
  background-image: url('background-terracotta.jpg');
  background-size: 450px 450px;
}
