<Content::Cover>
  <:content>
    <h1 class="u-margin-bottom-none">Uppps...</h1>
    <p class="u-margin-bottom-large">Fehler sind menschlich... auch wir machen mal einen Fehler.</p>
    <ErrorImage />
  </:content>
</Content::Cover>
