{{!-- template-lint-disable no-forbidden-elements --}}
<title>{{this.model.title}} — {{this.model.siteName}}</title>

<link rel="icon" type="image/svg+xml" href={{this.model.favicon}}>
<meta name="apple-mobile-web-app-title" content="107">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="apple-mobile-web-app-capable" content="yes">
<link rel="apple-touch-icon-precomposed" href="/assets/meta/touchicon.png">
